.paginationBttns {
  list-style: none;
  display: flex;
  justify-content: center;
  background-color: white;
}

.paginationBttns a {
  padding: .5rem 2rem;
  margin: 8px;
  border-radius: 18rem;
  border: 1px solid #26262e;
  color: #070808;
  cursor: pointer;
  text-decoration: none;
}

.paginationBttns a:hover {
  color: white;
  background: linear-gradient(253.58deg, #FFC000 1.55%, #FF8A00 95.8%);

}

.paginationActive a {
  color: rgb(241, 121, 121);
  background: linear-gradient(253.58deg, #FFC000 1.55%, #FF8A00 95.8%);

}

.paginationDisabled a {
  color: rgb(248, 247, 245);
  background-color: grey;
  cursor: unset;
}

.paginationDisabled a:hover{
  background: grey;
}
.no-blog{
  width: auto;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}